<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div id="top">
        <h1 id="title">Parkinsons Prediction Using Spiral and Wave tests</h1>
    </div>
    <div id="second">
        <form action="/upload" method="get">
            <input class="bn" type="submit" name="test" value="spiral">
        <input class="bn" type="submit" name="test" value="wave">
        </form>
    </div>
</body>
</html>