<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Prediction</title>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <div id="top">
            <h1 id="title">Parkionson's Detection Using Spiral and Wave Test</h1>
        </div>
        <div id="mid">
            <form method="post" enctype="multipart/form-data" action="/submit">
                <input type="file" name="file">
                <input type="submit" value="Submit">
                {% if name=='spiral' %}
                <select name="test">
                    <option value="svm-spiral">SVM</option>
                    <option value="rf-spiral">RF</option>
                </select>
                {% endif %}
                {% if name=='wave'%}
                <select name="test">
                    <option value="svm-wave">SVM</option>
                    <option value="rf-wave">RF</option>
                </select>
                {% endif %}
            </form> 
        </div> 
            {% if prediction %}
            <div id="second">
            <img src="{{img_path}}" height="400px" width="400px">
            <h2>Predicted output of {{model}} is : <i>{{prediction}}</i> </h2>
        </div>
            {% endif %}
    </body>
</html>